* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	overflow: hidden;
}

body {
	background-color: #f4f6f5;
	font-size: 0;
}

.container {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

img {
	width: 100%;
	height: auto;
}

.list-cleaner {
	padding-left: 0;
	margin: 0;
}

.cleaner {
	margin: 0;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

/*path part*/

.path {
	padding: 45px 0;
}

.path li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b0bec5;
}

.path li:nth-child(2):before {
	content: '-';
	padding-left: 4px;
	padding-right: 8px;
}

.path li:last-child:before {
	content: '-';
	padding-left: 4px;
	padding-right: 8px;
}

.path li:last-child {
	color: #263238;
}

/*product part*/

.product {
	display: inline-block;
	padding-right: 15px; 
}

.main-image {
	max-width: 870px;
	padding: 20px;
	border: 2px solid #dcdcdc;
	margin-bottom: 40px;
	background-color: #fff;
}

.description {
	max-width: 870px;
}

.description h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #263238;
	font-weight: 500;
	margin-bottom: 30px;
}

.description p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #707070;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 50px;
}

/*buttons part*/

.details {
	width: 100%;
	margin-bottom: 55px;
}

.details a:hover {
	-webkit-box-shadow: 3px 3px #000, 0 0 2rem #000;
	box-shadow: 3px 3px #000, 0 0 2rem #000;
}

.documentation {
	display: inline-block;
	float: left;
}

.documentation li {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	margin-right: 18px;
}

.documentation a {
	text-decoration: none;
	color: #f4f6f5;
}

.first {
	width: 138px;
	padding: 20px 0;
	text-align: center;
	background-color: #e74c3c;
	display: inline-block;
}

.second {
	width: 158px;
	padding: 20px 0;
	text-align: center;
	background-color: #455a64;
	display: inline-block;
}

.third {
	width: 158px;
	padding: 20px 0;
	text-align: center;
	background-color: #8bc34a;
	display: inline-block;
}

.social-chat {
	float: right;
	display: inline-block;
}

.social-chat li {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: inline-block;
	margin-left: 3px;
}

.social-chat a {
	text-decoration: none;
	color: #f4f6f5;
	width: 54px;
	height: 50px;
	display: inline-block;
	text-align: center;
	padding: 16px 0;
}

.facebook {
	background-color: #6370b6;
}

.twitter {
	background-color: #64b5f6;
}

.linkedin {
	background-color: #4f71ce;
}

.pinterest {
	background-color: #d32f2f;
}

/*sidebar part*/

.sidebar {
	display: inline-block;
	vertical-align: top;
	padding-left: 15px;
	height: 100%;
}

.product-price {
	max-width: 270px;
}

@media (max-width: 992px) {

	.documentation li {
		display: block;
		margin-bottom: 10px;
	}

	.first {
		width: 158px;
	}

	.social-chat li {
		display: block;
		margin-bottom: 5px;
	}
}