* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	overflow: hidden;
}

.list-reset {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
} 

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}


.header{
	padding-top: 28px;
	padding-bottom: 28px;
}

.logo {
	display: inline-block;
}

.logo  img {
	width: 100%;
	height: auto;
}

.header_info {
    float: right;
    vertical-align: middle;
}

.help {
	display: inline-block;
}

.help a {
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	color: #e74c3c;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.help a:hover {
	color: #b22617;
}

.talk {
	color: #546e7a;
	font-style: normal;
	font-family: 'Roboto', sans-serif;
}

.talk a {
	font-style: normal;
	font-family: 'Roboto', sans-serif;
	color: #546e7a;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
	margin-right: 28px;
}

.talk a:hover {
	color: #000;
}

.cart {
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.basket {
	border-radius: 50%;
	background-color: #f5f5f5;
	width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
}

.basket:hover {
	background-color: #dedbdb;
}

.counter {
    position: absolute;
    background-color: #e74c3c;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 22px;
    bottom: 22px;
    color: #fff;
    font-style: normal;
    font-size: 12px;
}

.fa-shopping-cart {
    font-size: 14px;
    color: #a0a0a0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 11px;
}

.btn {
	display: inline-block;
	vertical-align: top;
	border-radius: 6px; 
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
}

.btn-success {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	background-color: #8bc34a;
	color: #fff;
	padding: 11px 21px 9px 21px;
	margin-left: 20px;
	font-weight: bold;
}
 
.btn-success:hover {
	background-color: #4c751b;
}

.btn-danger {
	background-color: #e74c3c;
	color: #fff;
	padding: 11px 13px 9px 13px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	font-weight: bold;
	margin-left: 7px;
}

.btn-danger:hover {
	background-color: #892319;
}

.nav {
	background-color: #263238;
	padding-top: 23px;
	padding-bottom: 26px;
}

.menu li {
	float: left;
	/*padding: 0 16px;*/
	margin-right: 33px;
}
.menu li:last-child{
	margin-right: 0;
}
.menu li a {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.menu li a:hover {
	color: #d2d2d2;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0;
}


img {
	width: 100%;
	height: auto;
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}	

.list-resert {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

/*---------------BANNER---------*/
.banner {
	background: url('../images/bg.jpg') no-repeat center;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-size: cover;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 535px;
}

h1 {
	font-size: 48px;
	padding: 0;
	margin: 0;
	font-family: roboto;
	font-weight: bold;
	margin-bottom: 40px;
}

p {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;
	font-size: 20px;
	font-family: roboto;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 670px;
	height: 60px;
}

.input {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	font-size: 14px;
	border: 0;
	border-radius: 5px 0px 0px 5px;
}

.submit {
	background: url('../images/search.png') no-repeat center;
	background-size: contain;
	border: 0;
	background-color: white;
	border-radius: 0px 5px 5px 0px;
	padding-right: 20px;

}

@media (max-width: 768px) {

.banner {
	min-height: 450px;
}

h1 {
	text-align: center;
	font-size: 40px;
}

form {
	width: 80%;
}

}

 @media (max-width: 576px) {

 .banner {
	min-height: 400px;
}

form {
	height: 40px;
}

p {
	font-size: 18px;
	padding: 5px;
	margin-bottom: 40px;
}

}

 @media (max-width: 320px) {

.banner {
	min-height: 350px;
}

form {
	height: 30px;
}
 
 h1 {
	font-size: 35px;
}

p {
	padding: 5px;
	margin-bottom: 30px;
}

}

/*--------------FOOTER---------*/

footer {
	background-color: #263238;
	padding-top: 115px;
}

.footer-colum {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin-bottom: 130px;
}

.primier {
	padding-left: 77px;
}

.deuxieme {
	padding-left: 100px;
}

.troisieme {
	padding-left: 34px;
}

.footer-colum h2 {
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 27px;
}

.footer-colum span {
	width: 51px;
	height: 3px;
	background-color: #8bc34a;
	display: inline-block;
	margin-bottom: 31px;
}	

.footer-colum p {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b7c3c8;
	line-height: 24px;
}

.footer-colum address {
	font-weight: 600;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #fff;
	margin-bottom: 28px;
}

.footer-colum address i {
	color: #8bc34a;
	margin-right: 20px
}

.phone-number {
	font-weight: 600;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

.phone-number i {
	color: #8bc34a;
	margin-right: 20px
}

.footer-menu li:before {
	background-image: url(../images/arrow-right.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
	width: 6px;
	height: 10px;
	margin-right: 16px;
	display: inline-block;
}

.footer-menu li {
	margin-bottom: 20px;
}

.footer-menu a {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b7c3c8;
	line-height: 24px;
	text-decoration: none;
}

.social li {
	display: inline-block;
	margin-right: 7px;
}

.social ul {
	margin-bottom: 40px;
}

.social form h2 {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}

.social form .email {
	width: 215px;
	height: 38px;
	background-color: #2f3c43;
	color: #697378;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	border: 1px solid;
	border-top: #000101;
    border-left: #253136;
	border-right: transparent;
	padding-left: 15px;
	outline-color: black;
}

.social form button {
	width: 43px;
	height: 38px;
	background-color: #8bc34a;
	border: 1px solid;
	border-top: #000101; 
	border-bottom: #253136;
	border-right: #253136;
	border-left: transparent;
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	vertical-align: top;
}

.copyright {
	padding-top: 28px;
	padding-bottom: 35px;
	color: #919699;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	border-top: 1px solid #424d53;
}
