* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:black;
}

.list-reset {
    list-style-type: none;
}
/*------------------------------------------------------TABS-FILTERS navigation----------------------------------------------------------------------*/

.tabs {
   padding-top: 120px;
   padding-bottom: 60px;
   background-color: #f4f6f5;
}

.tabs h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}


@-webkit-keyframes bouncing{
    0%  { bottom: 0;  }
    100% { bottom: 10px; }
  }


@keyframes bouncing{
    0%  { bottom: 0;  }
    100% { bottom: 10px; }
  }

.toggles {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px;
}

.toggles li  {
    padding:10px 25px 10px 25px;
    margin-right:5px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    border-radius: 2px;
    position: relative; /*для анимации подпрыгивания*/
    cursor: pointer;
}

.toggles li:hover {
    -webkit-animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    animation: bouncing 0.5s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both;
    background-color: #8bc34a;
}

.active {
    background-color: #e74c3c!important; 
}

/*------------------------------------------------------TABS-FILTERS blocks----------------------------------------------------------------------*/
.posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.coltabs {
    width: 25%;
    padding:0 10px;
    padding-bottom: 18px;
    cursor: pointer;
}

.card {
    position: relative;
    border: 1px solid #d4d4d4;
    background:white;  /*1 баг отступ между блоками пофиксил задав цвет карду картинковский*/
}

.image img {
    height: auto;
    width: 100%;
    background:#d4d4d4;
    opacity: 0.8;
}

.image img:hover {
    opacity:1;
}

.customcontainer {
    padding:0px 15px;
}

.label {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
}

/*------------------------------------------------------buttons bottom tabs----------------------------------------------------------------------*/

.toggles2 {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 60px;
}

.toggles2 li  {
    padding:10px 25px 10px 25px;
    margin-right:5px;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;  
    border-radius: 2px;
}

.toggles2 li:hover {
    background-color:#e74c3c;
}

/*------------------------------------------------------carousel----------------------------------------------------------------------*/

.col-carusel-4 {
    width: 25%;
    padding:0px 10px;
    padding-bottom: 18px;
    cursor: pointer;
}

/*передеделать */
.footer_top {
    padding-top:20px;
    padding-bottom: 15px;
    background:#ffffff;
    padding-left:20px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_top h2 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #263238;
    margin-top: 0px;
    margin-bottom: 10px;
}

.footer_top p {
    margin-top:0px;
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #8bc34a;
}

.footer_top span {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.footer_bottom {
    padding-top:15px;
    padding-bottom: 15px;
    border-top: 1px solid #d4d4d4;
    padding-right: 20px;
    padding-left:20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;  
}

.footer_bottom span {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.left_stars img {
    vertical-align: middle;
    border-radius: 50px;
}

.carousel {
    padding-top:130px;
    padding-bottom: 120px;
}

.section-carousel {
    padding-top:50px;
    padding-bottom: 50px;
}

.slick-slide img {
     display:inline-block; 
}

/*стилизуем слайдер */
.slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style-type: none;
}
.slick-dots li{
    margin: 0 6px 0px 0px;
}

.slick-dots li button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0;
    background-color: #e8e8e8;
    padding: 0;
    border: 2px solid #b9b5b5;
    outline: none;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    border: 1px solid #8bc34a;
    background-color:#8bc34a ;
    outline: none;
}

.slick-initialized .slick-slide {  /*убераем подсветку у слайдеров*/
    outline: none;
}








