* {
	box-sizing: border-box;
}

.wrapper {
	overflow: hidden;
}

/*font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;*/

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 0;
}


img {
	width: 100%;
	height: auto;
}

.clearfix:after {
	display: table;
	clear: both;
	content: '';
}	

.list-resert {
	padding-left: 0;
	margin: 0;
	list-style: none;
}

footer {
	background-color: #263238;
	padding-top: 115px;
}

.footer-colum {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin-bottom: 130px;
}

.primier {
	padding-left: 77px;
}

.deuxieme {
	padding-left: 100px;
}

.troisieme {
	padding-left: 34px;
}

.footer-colum h2 {
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 27px;
}

.footer-colum span {
	width: 51px;
	height: 3px;
	background-color: #8bc34a;
	display: inline-block;
	margin-bottom: 31px;
}	

.footer-colum p {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b7c3c8;
	line-height: 24px;
}

.footer-colum address {
	font-weight: 600;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	color: #fff;
	margin-bottom: 28px;
}

.footer-colum address i {
	color: #8bc34a;
	margin-right: 20px
}

.phone-number {
	font-weight: 600;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
}

.phone-number i {
	color: #8bc34a;
	margin-right: 20px
}

.footer-menu li:before {
	background-image: url(../images/arrow-right.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	content: '';
	width: 6px;
	height: 10px;
	margin-right: 16px;
	display: inline-block;
}

.footer-menu li {
	margin-bottom: 20px;
}

.footer-menu a {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #b7c3c8;
	line-height: 24px;
	text-decoration: none;
}

.social li {
	display: inline-block;
	margin-right: 7px;
}

.social ul {
	margin-bottom: 40px;
}

.social form h2 {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}

.social form .email {
	width: 215px;
	height: 38px;
	background-color: #2f3c43;
	color: #697378;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	border: 1px solid;
	border-top: #000101;
    border-left: #253136;
	border-right: transparent;
	padding-left: 15px;
	outline-color: black;
}

.social form button {
	width: 43px;
	height: 38px;
	background-color: #8bc34a;
	border: 1px solid;
	border-top: #000101; 
	border-bottom: #253136;
	border-right: #253136;
	border-left: transparent;
	font-size: 17px;
	font-weight: 300;
	color: #fff;
	vertical-align: top;
}

.copyright {
	padding-top: 28px;
	padding-bottom: 35px;
	color: #919699;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	border-top: 1px solid #424d53;
}
